*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 11vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,20vw) 20vw 30vw 10vw;
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.75);
}
#logotipo{
    grid-row: 1/2;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logotipo> img{
    width: 95%;
    height: 90%;
}
#lista{
    grid-row: 1/2;
    grid-column: 4/5;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#lista > ul{
    width: 80%;
    height: 100%;
    margin: 0;
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#lista >ul >li{
font-size: 1em;
}
#boton{
    grid-row: 1/2;
    grid-column: 5/6;
    border: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#boton > button{
    width: 25%;
    height: 40%;
    border-radius: 5px;
}

