@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 9vh 10vh auto;
}
header{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index:1;
}
#barra_busqueda{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 10vw 80vw 10vw;
    background-color: #724085;

}
#filtro{
    grid-row: 1/2;
    grid-column: 1/2;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3em;
}
#filtro > a{
    color: white;
    text-decoration: none;

}
#filtro > a:hover{
    cursor: pointer;
    text-decoration: underline;
}
#filtro> a:focus{
    text-decoration: underline;

}
#buscador{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buscador > input{
    width: 40%;
    height: 45%;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    outline: none;
    border: 1px solid black;
    font-size: 1.1em;
    background-color: #b5b5b5;
}
#buscador >#lupa{
    height: 45%;
    width: 5%;
    background-color: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    border:1px solid black;
    font-size: 1.2em;
    box-shadow: -5px 0px 3px  grey;
}
#lupa:hover{
    cursor: pointer;
}
#menu_usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5b5b5;
    box-shadow: -5px 5px 7px 1px #302f2f;
    position: absolute;
    right: 0%;
    width: 10vw;
    height: 13vh;
    z-index: 2;
}
#menu_usuario > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#menu_usuario >ul >li > a{
    color: black;
}

main{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black ;
    opacity: 88%;
    height: 79vh;


}
.splide{
    display: flex;
    width: 95%;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
    height: 10vh;
    order: 1;

}
.splide__track{
    width: 85%;
    height: 100%;
    display: flex;
    align-content: center;
}
.splide__slide{
    display: flex;
    justify-content: center;
    align-content: center;
}
.splide__slide > button{
    background-color: #302f2f;
    color: white;
    width: 35%;
    height: 80%;
    border-radius: 10px;
    font-size: 1.1em;
    outline: none;
    border: 2px solid #724085;
}
.splide__slide > button:active{
    background-color: #724085;
}


.splide__pagination{
    display: none !important;
}

#publicaciones{
    order: 2;
    width: 90%;
    height: 60vh;
    background-color: #b5b5b5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


